In [1]:
print("Good Afternoon")

Good Afternoon

In [2]:
a=10
b=20
c=a+b
print(c)

30

In [3]:
a=10
b=20
c=a+b
print("Addition=",c)

Addition= 30

In [4]:
a=10
b=20
c=a+b
print("Addition of a=",a,"and b=",b,"is c=",c)

Addition of a= 10 and b= 20 is c= 30

In [5]:
a=10
b=20
c=a+b
print("Addition of a={0} and b={1} is c={2}".format(a,b,c))

Addition of a=10 and b=20 is c=30

In [6]:
myvar="charan"
print(myvar)

charan

In [7]:
8myvar="Tharun"
print(8myvar)

SyntaxError: invalid decimal literal (2071213205.py, line 1)

In [8]:
a=b=c=d="orange"
print(c)

orange

In [9]:
a="python"
b="is"
c="awesome"
print(a+b+c)

pythonisawesome

In [10]:
#Type casting
a='5'
b="tharun"
print(a+b)

5tharun

In [11]:
print(int(35.67))

35

In [12]:
a="Ankitha"
print(len(a))

7

In [13]:
b="mamatha"
print(len(b))

7

In [14]:
x="welcome"
print(x[3])

c

In [15]:
a="The Best book in the world is written by JK Rowling"
print("Book" not in a)

True

In [16]:
s="mamatha"
print(s.upper())

MAMATHA

In [17]:
d="TharUn"
print(d.lower())

tharun

In [18]:
e="Ankitha Ashok rao kharpade"
print(e.lower())
print(e.upper())

ankitha ashok rao kharpade
ANKITHA ASHOK RAO KHARPADE

In [19]:
f="     s a i       "
print(f)

     s a i

In [20]:
# to remove unwanted Spaces at begining and Ending is Strip 
print(f.strip())

s a i

In [21]:
# Replace function 
a="Charan"
print(a.replace("a","T"))

ChTrTn

In [22]:
e="Ankitha&Ashok&rao&kharpade"
print(e.split("&"))

['Ankitha', 'Ashok', 'rao', 'kharpade']

In [23]:
#Anagrams ?

In [24]:
from collections import Counter
a="sai charan"
b=Counter(a)
print(b)

Counter({'a': 3, 's': 1, 'i': 1, ' ': 1, 'c': 1, 'h': 1, 'r': 1, 'n': 1})

In [25]:
from collections import Counter
a=input("Enter the name apart from charan any name is okay")
b=Counter(a)
print(b)

Enter the name apart from charan any name is okay
Counter()

In [26]:
from collections import Counter
a=input("Enter the name")
b=Counter(a)
print(b)

Enter the name
Counter()

In [27]:
#reverse what ever in caps to small and Viceversia
a="SaIcHaRaN"
b=a.swapcase()
print(b)

sAiChArAn

a=3
b=2
c=9

eg 2 
a=2
b=2
c=4

Write a code to display o/p in above fashion

In [ ]:
a=int(input("enter a  positive number"))
b=int(input("ENTER A positive NUMBER"))
c=a**b
print(c)

In [ ]:
# Comparision Operators

In [ ]:
a=5
b=10
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

#Logical Operators
and or not

In [ ]:
x=5
x<5 and x>10

In [ ]:
x=5
x>3 or x<22

In [ ]:
x=5
not(x>3 or x<22)

In [ ]:
#Boolean Values
#True and False
print(10<=10)

In [29]:
#Conditionals
x=5
if x>5:
    print("Hai bro")
else:
    print("Bye bro")

Bye bro

In [28]:
c=5
print("hai bro") if c>5 else print("bye bro")

bye bro

In [33]:
a=300
b=200
if b>a:
    pass
else:
    print("fail")

fail

In [34]:
a=30
b=200
if b>a:
    
else:
    print("fail")

IndentationError: expected an indented block after 'if' statement on line 3 (3358833046.py, line 5)