In [16]:
#Add 2 numbers in python

In [17]:
a=2
b=3
c=a+b
print(a+b)

5

In [18]:
a=12
b=13
c=a+b
print(c)

25

In [19]:
a=20
b=30
c=a+b
print(c)

50

In [20]:
# Functions

In [21]:
# To perform a specific Task in an Reusable manner

In [22]:
#def functionname():
    #function body
    #return

In [23]:
def add(a,b):
    return a+b

In [24]:
add(2,4)

6

In [25]:
add(3,5)

8

In [26]:
add(34,45)

79

In [27]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [31]:
def add(a,b):
    return a+b
add(3,4)

7

In [32]:
def subtract(a,b):
    return a-b
subtract(4,2)

2

In [37]:
def floordiv(a,b):
    return a//b
floordiv(9,2)

4

In [38]:
def mul(a,b):
    return a*b
mul(4,2)

8

In [39]:
# Function with print

In [40]:
def greet():
    print("Hello Good Morning")
greet()

Hello Good Morning

In [41]:
greet()

Hello Good Morning

In [42]:
greet()

Hello Good Morning

In [44]:
def add():
    a=100
    b=200
    c=a+b
    print(c)
add()

300

In [45]:
def tharun():
    a=input("Enter 1st number")
    b=input("Enter 2nd number")
    c=int(a)+int(b)
    print(c)
tharun()

Enter 1st number3
Enter 2nd number4
7

In [46]:
a=23
type(a)

int

In [47]:
a=input("Enter a number")

Enter a number23

In [48]:
type(a)

str

In [49]:
# In class how many people 4 Charan tharun Ankitha mamatha

In [50]:
def intro(name):
    print("hi",name)

In [52]:
intro('charan')

hi charan

In [53]:
intro('mamatha')

hi mamatha

In [54]:
intro("tharun")

hi tharun

In [55]:
intro("Ankitha")

hi Ankitha

In [56]:
# Challenge 1 for today is print Good Morning in place of Hi to the same 4 people

In [58]:
# Guess the output for this below code
def big(a,b):
    print("hi",a+b)
big("sai","Charan")

hi saiCharan

In [59]:
# Write a program to print modulous of a given number using Functions

In [60]:
def ankitha(n):
    if n>0:
        print(n)
    else:
        print(-n)
ankitha(-23)

23

In [61]:
# Print & Return

In [62]:
# return
def fullname(a,b):
    c=a+b
    return c

In [64]:
x=fullname("Sai","Charan")

In [65]:
x

'SaiCharan'

In [66]:
def completename(a,b):
    c=a+b
    print(c)

In [67]:
z=completename("Leela","Kumari")

LeelaKumari

In [69]:
x

'SaiCharan'

In [71]:
#Create a function to build a basic calculator
#Area of circle
#Area of Rectangle
# Area of Triangle

In [72]:
def calculator(a,b):
    c=a+b
    d=a-b
    e=a*b
    f=a/b
    g=a//b
    h=a**b
    return c,d,e,f,g,h

In [73]:
calculator(2,4)

(6, -2, 8, 0.5, 0, 16)

In [74]:
# Area of Circle 3.14*r*r

In [75]:
def area(a):
    c=3.14*a*a
    return c

In [76]:
area(3)

28.259999999999998

In [77]:
#Area of Rectangle

In [78]:
def areaofrectangle(length,width):
    c=length*width
    return c

In [79]:
areaofrectangle(3,4)

12

In [80]:
# Area of Triangle 0.5*b*h
def area(b,h):
    c=0.5*b*h
    return c
area(3,4)

6.0

In [81]:
# Print First 5 positive integers in Python using Functions

In [82]:
def num(n):
    for i in range(1,6):
        print(i)
num(5)

1
2
3
4
5

In [83]:
# Accept integer as input & Print its Square as an output

In [84]:
#Accept two integers as input and Print their sum as output

In [85]:
#Accept 2 words as input and print 2 words by adding space between them

In [86]:
def name():
    a= input("Enter name: ")
    b = input("Enter name: ")
    print(a+ b)
name()

Enter name: sai
Enter name: charan
saicharan

In [87]:
def name(first,second):
    print(first," ",second)
name("sai","charan")

sai   charan

In [88]:
def interger(num1,num2):
    c=num1+num2
    print(c)
interger(1,2)

3

In [93]:
def square():
    a=int(input("enter a number"))
    print(a**2)
square()

enter a number4
16

In [94]:
#Pass Statement

In [97]:
n=10
if n>10:
    pass

In [96]:
for i in "charan":
    if i=="a":
        pass
    print(i)

c
h
a
r
a
n

In [98]:
# Laptops  Password 
#omsairam
#lnecr342wd45
#password
#Mylife

#Accept a string as input your task is Determine if input what ever is a password or not for it to be a password 
a)It should have min 8 characters max 32 characters
b)It should start with upper or lower case only.
c)It should not have SPaces and * \/ these symbols.
d)Output of the program should be True or False

In [99]:
#Accept 3 postive Integers as input and Verify pythagorean Theorem from it my output is either True or False

In [101]:
x="awesome"
def myfunc():
    x="Super"
    print("python is"+x)
myfunc()
print(x)

python isSuper
awesome

In [102]:
def greet():
    message="hello"
    print("Hi",message)
greet()

Hi hello

In [110]:
def add():
    x=20
    y=30
    print(x+y)
add()
print(x)
print(y)

50
awesome

NameError: name 'y' is not defined

In [111]:
def find_num(*numbers):
    result=0
    for i in numbers:
        result+=i
    print("sum",result)
find_num()

sum 0

In [112]:
find_num(1,2,3)

sum 6

In [113]:
find_num(1,2,3,4,5,6)

sum 21

In [114]:
def add(a=4,b=6):
    sum=a+b
    print(sum)

In [115]:
add()

10

In [116]:
add(2,8)

10

In [117]:
add(12,14)

26

In [118]:
add()

10

In [119]:
add()

10

In [120]:
add()

10

In [121]:
add(13,14)

27

In [122]:
def name(name="charan"):
    print("my name is ",name)
name()

my name is  charan

In [123]:
name("Tharun")

my name is  Tharun