In [2]:
my_mood=["Happy","SAD",'Angry']
a=input("Enter your mood")
if a in my_mood:
    print("Cinema ku podam")
    if a=="Happy":
        print("I will go to Sekhar kamula movie")
    elif a=="Sad":
        print("I will go to Sandeep Reddy Vanga Movie")
    else:
        print("I will go to RGV movie")
else:
    print("Noru muskoni chadvuko")

Enter your mood Angry

Cinema ku podam
I will go to RGV movie

In [3]:
range(5)

range(0, 5)

In [4]:
print(range(0,5))

range(0, 5)

In [31]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [32]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [33]:
tuple(range(5,15))

(5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [34]:
set(range(1,4))

{1, 2, 3}

In [35]:
list(range(2,12,2))

[2, 4, 6, 8, 10]

In [36]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [37]:
list(tuple(range(3,8)))

[3, 4, 5, 6, 7]

In [39]:
#Loops for and while are 2 loops

In [40]:
# if we want to excute line of Code Multiple times

In [44]:
# print first 10 natural Numbers
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [46]:
for i in range(1,100):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [47]:
# Mmamatha Write a program to print first 5 numbers

In [50]:
for i in range(1,6):
    print(i,end=" ")

1 2 3 4 5

In [51]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [52]:
for i in "charan":
    print(i)

c
h
a
r
a
n

In [53]:
for i in "tharun":
    print(i,end=" ")

t h a r u n

In [54]:
# Write a program to print name Ankitha by using for loop

In [58]:
for i in "ankita":
    print(i,end=" ")

a n k i t a

In [59]:
for x in ['a','b','c']:
    print(x)

a
b
c

In [60]:
for i in (1,2,3,4):
    print(i)

1
2
3
4

In [61]:
for i in 23:
    print(i)

TypeError: 'int' object is not iterable

In [62]:
for i in 334:
    print(i)

TypeError: 'int' object is not iterable

In [65]:
z={'name':"charan",'city':"Bangalore","Profession":"Director"}
for i in z.values():
    print(i)

charan
Bangalore
Director

In [66]:
z={'name':"charan",'city':"Bangalore","Profession":"Director"}
for i in z.items():
    print(i)

('name', 'charan')
('city', 'Bangalore')
('Profession', 'Director')

In [67]:
z={'name':"charan",'city':"Bangalore","Profession":"Director"}
for i in z.keys():
    print(i)

name
city
Profession

In [68]:
z={'name':"charan",'city':"Bangalore","Profession":"Director"}
for i in z.values():
    print(i)

charan
Bangalore
Director

In [69]:
# WAP to itterate over a list where list contains 4 countries named india,australia,USA,UK

In [70]:
country=['india','australia','usa','uk']
for i in country:
    print(i)

india
australia
usa
uk

In [71]:
for i in range(5):
    print(i)
else:
    print("Hello bro")

0
1
2
3
4
Hello bro

In [72]:
for i in range(5):
    for j in range(i+1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [73]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print("*",end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [74]:
for i in range(5):
    for j in range(i+1):
        print("*",end=' ')
    print()
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [77]:
for i in range(1,6):
    for j in range(1,6):
        print(i*j,end=" ")
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [83]:
# 1q)Print  20 tables using For  loop

In [81]:
#While loop

In [86]:
#Print first 10 natural Numbers
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [87]:
# While loop

In [1]:
count=1
while count<=10:
    print(count)
    count=count+1

1
2
3
4
5
6
7
8
9
10

In [2]:
count=1
while count<=10:
    print(count)
    count+=1

1
2
3
4
5
6
7
8
9
10

In [3]:
# Game with while loop

In [1]:
text=' '
while text!="quit":
        text=input("Enter a word")
        print("You entered",text)

Enter a wordenter
You entered enter
Enter a wordmamatha
You entered mamatha
Enter a wordapple
You entered apple
Enter a wordquit
You entered quit

In [2]:
movie=' '
while movie!="Bangaloredays":
    movie=input("Guess tharun fav movie")
    print("Tharun's favourite movie is",movie)

Guess tharun fav movieHappy
Tharun's favourite movie is Happy
Guess tharun fav movieaarya
Tharun's favourite movie is aarya
Guess tharun fav movieaarya 2
Tharun's favourite movie is aarya 2
Guess tharun fav moviebunny
Tharun's favourite movie is bunny
Guess tharun fav moviesalaar
Tharun's favourite movie is salaar
Guess tharun fav moviearjun reddy
Tharun's favourite movie is arjun reddy
Guess tharun fav movieBangaloredays
Tharun's favourite movie is Bangaloredays

In [3]:
# Build a small logic game all 3 together build for this

In [4]:
num=0
if num>0:
    print("positive number")
elif num==0:
    print("Zero")
else:
    print("Negative Number")
print("Hello all Welcome to my world")

Zero
Hello all Welcome to my world

In [5]:
text="I love python"
text.split()

['I', 'love', 'python']

In [ ]:
a,b=input("Enter two numbers").split()
c=int(a)+int(b)
print(c)

In [ ]:
# Wap to Take 3 inputs in one go and do a multiplication

In [ ]:
# Pass Continue Break

In [1]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [3]:
# I want to end this program when my I value is going to be three
for i in range(5):
    if i ==3:
        break
    print(i)

0
1
2

In [5]:
# mamatha letter is equal to t 
for i in "mamatha":
    if i=='t':
        break
    print(i)

m
a
m
a

In [6]:
numbers=[10,20,30,40,120,230]
for i in numbers:
    if i>100:
        break
    print(i)

10
20
30
40

In [7]:
numbers=[10,20,30,40,120,230]
for i in numbers:
    if i<100:
        break
    print(i)

In [10]:
for i in "Ankitha":
    if i =='a':
        break
    print("letter",i)

letter A
letter n
letter k
letter i
letter t
letter h

In [16]:
i=1
while i<=20:
    print(i)
    if i>=15:
        break
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [17]:
S="Hello World"
for i in S:
    print(i)
    if i==' ':
        break

H
e
l
l
o

In [20]:
A="Ankitha,USA"
for i in A:
    print(i)
    if i==",":
        break

A
n
k
i
t
h
a
,

In [21]:
#Continue

In [22]:
for i in range(5):
    print(i,end=' ')

0 1 2 3 4

In [23]:
for i in range(5):
    if i ==3:
        break
    print(i)

0
1
2

In [24]:
for i in range(5):
    if i ==3:
        continue 
    print(i)

0
1
2
4

In [25]:
# Continue will skip that particular itteration

In [26]:
for i in "Charan":
    if i=="h":
        continue
    print(i)

C
a
r
a
n

In [27]:
for i in "Charan":
    if i=="h":
        break
    print(i)

C

In [28]:
#WAP to print odd numbers from 1 to 10 using break and Continue with for and while loops both

In [29]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [1]:
i = 1
while i <= 10:
    print(i)
    i += 1  # Move increment before continue
    if i % 2 == 0:
        continue

1
2
3
4
5
6
7
8
9
10

In [2]:
i = 1
while i <= 10:
    if i % 2 == 0:
        i += 1  
        continue  
    print(i)
    if i == 9:
        break  
    i += 1

1
3
5
7
9